{%extends 'base.html'%}

{%block body_block%}

<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <div class="card text-center">
            <form method="post" enctype="multipart/form-data">
                {%csrf_token%}
                Do you want to delete..?
                <div class="mb-3">
                    <input type="submit" value="Delete" class="btn btn-danger">
                </div>
            </div>

    </div>
    </form>
</div>
<div class="col-4"></div>
</div>
{%endblock%}